POSTGRES_DB=ar_precision_erp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_THIS_TO_A_STRONG_DATABASE_PASSWORD
POSTGRES_HOST_PORT=5435
BACKEND_HOST_PORT=8000
AUTH_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
DEMO_NETWORK_NAME=demo-1_default
